{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/hpv/style.css"/>
    <meta charset="utf-8">
    <title>DTNA</title>
  </head>

  <body>
    {% if not user.is_authenticated %}
      Please sign in for access</br>

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Login">Login</button>
      </form>
    {% else %}

      <li><a href="/logout/">Logout</a></li>
    {% endif %}

    {% block content %}
      {{ content }}
    {% endblock %}
  </body>

</html>
