<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/hpv/style.css">
        <meta charset="utf-8">
        <title>HPV Data</title>
    </head>
    <body>
        <h3>Shift 1</h3>
        <table>
          <tr id=head>
            <td id=head><b>Department</b></td>
            <td id=head><b>Hour 1</b></td>
            <td id=head><b>Hour 2</b></td>
            <td id=head><b>Hour 3</b></td>
            <td id=head><b>Hour 4</b></td>
            <td id=head><b>Hour 5</b></td>
            <td id=head><b>Hour 6</b></td>
            <td id=head><b>Hour 7</b></td>
            <td id=head><b>Hour 8</b></td>
          </tr>
          <tr>
            <td id=dept>PCH</td>
            <td>{{ PCH1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id=dept>FCH</td>
            <td>{{ FCH1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id=dept>CIW</td>
            <td>{{ CIW1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id=dept>FCB</td>
            <td>{{ FCB1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id=dept>PNT</td>
            <td>{{ PNT1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id=dept>PLANT</td>
            <td>{{ plant1 }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <h3>Shift 2</h3>
        <table id=attendance>
        <tr id=head>
          <td id=head><b>Department</b></td>
          <td id=head><b>Hour 1</b></td>
          <td id=head><b>Hour 2</b></td>
          <td id=head><b>Hour 3</b></td>
          <td id=head><b>Hour 4</b></td>
          <td id=head><b>Hour 5</b></td>
          <td id=head><b>Hour 6</b></td>
          <td id=head><b>Hour 7</b></td>
          <td id=head><b>Hour 8</b></td>
        </tr>
        <tr>
          <td id=dept>PCH</td>
          <td>{{ PCH2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id=dept>FCH</td>
          <td>{{ FCH2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id=dept>CIW</td>
          <td>{{ CIW2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id=dept>FCB</td>
          <td>{{ FCB2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id=dept>PNT</td>
          <td>{{ PNT2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id=dept>PLANT</td>
          <td>{{ plant2 }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </table>

        <table id=claim_day>
          <tr id=head>
            <td id=head><b>Day</b></td>
          </tr>
          <tr>
            <td id=total>total{{ day_total }}</td>
          </tr>
        </table>

        <table id=claim_hour>
          <tr id=head>
            <td id=head><b>Current</b></td>
          </tr>
          <tr>
            <td id=total>total{{ hour_total }}</td>
          </tr>
        </table>
    </body>
</html>
