<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/hpv/style.css">
        <meta charset="utf-8">
        <title>HPV Data</title>
    </head>
    <body>
      <p>
        {{time}}
      </p>
        <h3>Shift 1</h3>
        <table id=shift1_attendance>
          <tr class=head>
            <td class=head><b>Department</b></td>
            <td class=head><b>Hour 1</b></td>
            <td class=head><b>Hour 2</b></td>
            <td class=head><b>Hour 3</b></td>
            <td class=head><b>Hour 4</b></td>
            <td class=head><b>Hour 5</b></td>
            <td class=head><b>Hour 6</b></td>
            <td class=head><b>Hour 7</b></td>
            <td class=head><b>Hour 8</b></td>
          </tr>
          {% for department in shift_1 %}
            <tr>
              {% for entry in department %}
                <td{% if forloop.first %} class="dept"{% endif %}>
                  {{entry}}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
        <h3>Shift 2</h3>
        <table id=shift2_attendance>
        <tr class=head>
          <td class=head><b>Department</b></td>
          <td class=head><b>Hour 1</b></td>
          <td class=head><b>Hour 2</b></td>
          <td class=head><b>Hour 3</b></td>
          <td class=head><b>Hour 4</b></td>
          <td class=head><b>Hour 5</b></td>
          <td class=head><b>Hour 6</b></td>
          <td class=head><b>Hour 7</b></td>
          <td class=head><b>Hour 8</b></td>
        </tr>
        {% for department in shift_2 %}
          <tr>
            {% for entry in department %}
              <td{% if forloop.first %} class="dept"{% endif %}>
                {{entry}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </table>

        <h3 id=claim_title>Finished</h3>
        <table id=claim_day>
          <tr class=head>
            <td class=head><b>Day</b></td>
          </tr>
          <tr>
            <td class=total>total: {{ day_total }}</td>
          </tr>
        </table>

        <table id=claim_hour>
          <tr class=head>
            <td class=head><b>Current</b></td>
          </tr>
          <tr>
            <td class=total>total: {{ hour_total }}</td>
          </tr>
        </table>
    </body>
</html>
