{% extends 'hpv/base.html' %}
{% load staticfiles %}

<head>
    <title>HPV Data</title>
</head>

{% block content %}
<div class=container>
  <p>
    {{time}}
  </p>
  <h3>HPV</h3>
  <table id=hpv>
    <tr class=head>
      <td class=head><b>Department</b></td>
      <td class=head><b>Day</b></td>
      <td class=head><b>Shift 1</b></td>
      <td class=head><b>Shift 2</b></td>
    </tr>
  {% for department in hpv_data %}
  <tr>
    {% for entry in department %}
    <td {% if forloop.first %} class="dept">{{entry}}{% else %}>
      {{entry|floatformat}}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>

  <h3 id=claim_title>Finished</h3>
  <table id=claim_day>
    <tr class=head>
      <td class=head><b>Day</b></td>
    </tr>
    <tr>
      <td class=total>Total: {{ day_total }}</td>
    </tr>
    <tr>
      <td class=total>HPV: {{day_HPV|floatformat}}</td>
    </tr>
  </table>

  <table id=claim_hour>
    <tr class=head>
      <td class=head><b>Current</b></td>
    </tr>
    <tr>
      <td class=total>Total: {{ hour_total }}</td>
    </tr>
  </table>

  <div id='chart'>
    <svg style='height:500px'> </svg>
  </div><script src='{% static "hpv/graph.js" %}' type='text/javascript'> </script>

  <script type='text/javascript'>
    d3.text("{% static "hpv/graph.js" %}","text/plain",function(err,text) {
        d3.select("pre.prettyprint").text(text);
        prettyPrint();
    });
  </script>

</div>
{% endblock %}
