/*Nav bar*/
.bg-faded {
    background-color: #f7f7f9;
}
.navbar{
    margin-bottom: 8px;
}
.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 3.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/*Login Form*/
.form-control {
    border-radius: 10px;
}

.login-form, .wrapper {
  text-align: center;
}

/*Container/Body*/
.container {
  margin-top: 10px;
}
.row {
  margin-top: 0px;

}

/*Text*/
a {
  color: black;
}

p {
  margin: 0 50px;
}
/*Graph*/
.nvd3 g.nv-groups path.nv-line {
  stroke-width: 5px;
}

.nvd3 text {
    font: 400 13px Arial;
}
/*Table*/

#claim_day{
  position: absolute;
  top: 80px 250px;
  width: 100px;
}

#claim_hour{
  position: absolute;
  top: 80px 400px;
  width: 100px;
}

td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

td {
  width: 120px;
  font-size: 18px;
}

.head {
  height: 50px;
  text-align: center;
  vertical-align: center;
  color: black;
  background: lightblue;
  border-color: white;
}

.total {
  height: 50px;
  width: 50px;
}

.dept {
  font-weight: bold;
  background: lightblue;
  border-color: white;
}

#claim_title {
  position: absolute;
  top: 25px;
  right: 267px;
}

#shift1_attendance{
  position: absolute;
  top: 450px;
}

#shift1_title{
  position: absolute;
  top: 400px;
}

#shift2_attendance{
  position: absolute;
  right: 90px;
  top: 450px;
}

#shift2_title{
  position: absolute;
  right: 545px;
  top: 400px;
}

/*Heat Map*/
rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
